name: CI Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # ---------- BACKEND ----------
      - name: Setup Node (Backend)
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend deps
        working-directory: backend
        run: npm install

      - name: Backend lint check
        working-directory: backend
        run: |
          echo "Backend OK"

      # ---------- FRONTEND ----------
      - name: Setup Node (Frontend)
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend deps
        working-directory: frontend
        run: npm install

      - name: Frontend build check
        working-directory: frontend
        run: npm run build
